<div class="row grayback justify-content-md-center">
  <h4 class="pt-5 text-center">FAQs</h4>
  <div class="col-md-4 col-lg-3">
    <div class="m-xxl-5">
      <h5>Lorem ipsum?</h5>
      <p style="color: #030D62;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="col-md-4 col-lg-3">
    <div class="m-xxl-5">
      <h5>Lorem ipsum?</h5>
      <p style="color: #030D62;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
  </div>
  <div class="col-md-4 col-lg-3">
    <div class="m-xxl-5">
      <h5>Lorem ipsum?</h5>
      <p style="color: #030D62;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="col-12 text-center pb-5">
    <a href="faq" class="btn youwind_button">FAQs</a>
  </div>
</div>
