<div class="row darkgrayback text-center align-items-center p-5">
  <div class="semibold_30px white">Latest articles</div>
  <div class="col-md-4 p-4">   
    <div class="bluebacktriple d-flex align-items-center justify-content-center">
      <p class="align-self-center">Development Update: February 2023</p>
    </div>
  </div>
  <div class="col-md-4 p-4">
    <div class="bluebacktriple d-flex align-items-center justify-content-center">
      <p>Providing the right tools for the challenges...</p>
    </div>
  </div>
  <div class="col-md-4 p-4">
    <div class="bluebacktriple d-flex align-items-center justify-content-center">
      <p>Wind Europe Electric City 2021...</p>
    </div>
  </div>
</div> 