---
# Only the main Sass file needs front matter (the dashes are enough)
---

.bg-image{
  background-image: url("/assets/bg.jpeg");
  background-size: cover;
  background-repeat: space;
}

nav{
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}
.navbar-nav{
  .nav-item{
    a{
      color: #eee !important;
    }
  }
}
